<section class="furniture-list-section">
  <div class="container">
    <div class="container-furniture-list-section">
      <h2 class="title-list-section-iv">Наші меблі</h2>
      <p class="text-list-section-iv">Знайдіть ідеальні рішення для вашого інтер'єру  для вашого інтер'єру</p>
      <ul class="menu-list-section-iv">
        <li><button type="button" class="active-btn-iv  btn-list-section-iv"><img src="" alt="Bсі товари"><span class="text-btn-list-iv">Всі товари</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="М'які меблі"><span class="text-btn-list-iv">М'які меблі</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Шафи та системи зберігання"><span class="text-btn-list-iv">Шафи та системи зберігання</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Ліжка та матраци"><span class="text-btn-list-iv">Ліжка та матраци</span></button>
        </li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Столи"><span class="text-btn-list-iv">Столи</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Стільці та табурети"><span class="text-btn-list-iv">Стільці та табурети</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Кухні"><span class="text-btn-list-iv">Кухні</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Меблі для дитячої"><span class="text-btn-list-iv">Меблі для дитячої</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src="" alt="Меблі для офісу"><span class="text-btn-list-iv">Меблі для офісу</span></button>
        </li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Меблі для передпокою"><span class="text-btn-list-iv">Меблі для передпокою</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Меблі для ванної кімнати"><span class="text-btn-list-iv">Меблі для ванної кімнати</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Садові та вуличні меблі"><span class="text-btn-list-iv">Садові та вуличні меблі</span></button></li>
        <li><button type="button" class="btn-list-section-iv"><img src=" " alt="Декор та аксесуари"><span class="text-btn-list-iv">Декор та аксесуари</span></button></li>
      </ul>
      <button type="button" class="btn-load-more-list">Показати ще</button>
    </div>
  
  </div>
</section>
