<header class="header">
  <div class="container">
    <a href="index.html" class="header-logo"
      ><svg class="header-socials-icon" width="163" height="69">
        <use href="/img/sprite.svg#logo"></use></svg
    ></a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#furniture-list" class="nav-link">Наші меблі</a></li>
        <li><a href="#about-us" class="nav-link">Про нас</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
        <li><a href="#feedback" class="nav-link">Відгуки</a></li>
      </ul>
    </nav>

    <a href="#furniture-list" class="btn-buy">До покупок</a>

    <button class="burger" aria-expanded="false">
      <svg class="icon icon-menu" width="32" height="32">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
