<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-text-box">
      <h1 class="hero-title">Створіть свій ідеальний дім</h1>
      <p class="hero-text">
        Відкрийте для себе колекцію стильних та комфортних меблів, які
        перетворять ваш простір. Наша продукція поєднує в собі елегантність та
        функціональність.
      </p>
      <!-- <button type="button" class="hero-button">Що про нас думають</button> -->
      <a href="#feedback" class="anchor-item">Що про нас думають</a>
    </div>
  </div>
</section>
