<!-- MENU -->

<div class="mobile-menu">
  <div class="mobile-menu-header">
    <a href="index.html" class="mobile-header-logo"
      ><svg class="header-socials-icon" width="163" height="69">
        <use href="/img/sprite.svg#logo"></use></svg
    ></a>

    <button type="button" class="modal-window-close-btn">
      <svg class="modal-window-close-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-panel">
      <ul class="mobile-nav-list">
        <li>
          <a href="#furniture-list" class="mobile-nav-link">Наші меблі</a>
        </li>
        <li><a href="#about-us" class="mobile-nav-link">Про нас</a></li>
        <li><a href="#faq" class="mobile-nav-link">Часті питання</a></li>
        <li><a href="#feedback" class="mobile-nav-link">Відгуки</a></li>
      </ul>
      <a href="#furniture-list" class="btn-buy-mobile">До покупок</a>
    </nav>
  </div>
</div>
